/* #region page */
@font-face {
  font-family: 'KyivTypeTitling';
  src: url('./fonts/kyivtypetitling/KyivTypeTitling-VarGX.ttf');
}

html {
  scroll-behavior: smooth;
}

.body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
/* #endregion */
/* #region header */
.header {
  width: 100%;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__container.active {
  margin: 0 0 0 20px;
  max-width: 1100px;
}
/* #region video */
.intro {
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
  position: relative;
}

.intro:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);

  position: absolute; 
  top: 0;
  left: 0;
  z-index: 2;
}

.intro__video {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  display: block;
}
/* #endregion */

/* #region navigation */
.nav {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px auto;
  z-index: 3;
  right: 0;
  left: 0;  
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.nav.active {
  position: fixed;
  height: 130px;
  top: -95px;
  max-width: none;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: -1px;
  transform: translateY(50%);
}

.nav.hide {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-50%);
}

.nav.active .nav__link {
  color: #000;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 40px;
}

.nav__list.active {
  margin-top: 75px;
}

.nav__item {
  display: flex;
  list-style: none;
  align-items: center;
  padding-inline: 20px;
  position: relative;
}

.nav__link {
  position: relative;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;  
}

.nav__link.active {
  color: #000;
}

.nav__link::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  transform-origin: left;
}

.nav__link:hover::after {
  transform: scaleX(1);
}

.nav__link.active::after {
  background-color: #000; 
}

.nav__link--about {
  white-space: nowrap;
}

.logotype {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logotype.inactive {
  opacity: 0;
}

.logo__link {
  width: 73px;
  height: 128px;
  text-decoration: none;
}

.logo-title {
  width: 100%;
  color: #fff;
  font-family: 'KyivTypeTitling';
  font-weight: 500;
  font-size: 20px;
  margin-top: 15px;
  text-align: center;
  white-space: nowrap;
  display: flex;
}

.logo-title.active {
  display: none;
}

.logo__image.active {
  display: none;
}

.logo__image-black {
  display: none;
}

.logo__link-black {
  height: 0;
}

.logo__image-black.active {
  display: initial;
  margin: -100px 20px 30px 25px;
  height: 55px;
}

.languages-list {
  display: flex;
  position: absolute;
  z-index: 3;
  top: 10px;
  right: 30px;
}

.language-item {
  list-style: none;
}

.language-link {
  color: #FFF;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
}

.language-link.active {
  font-size: 14px;
  font-weight: 700;
}

.language-item--ua {
  margin-left: 9px;
}

.language-item--ru {
  margin-left: 9px;
}
/* #region burger */
.header__burger {
  display: none;
  height: 20px;
  width: 50px;
  cursor: pointer;
  padding-right: 10px;
}

.header__burger-icon span {
  height: 2px;
  width: 100%;
  transform: scale(1);
  background-color: #fff;
}

.header__burger-icon::before,
.header__burger-icon::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 70%;
  background-color: #fff;
  transition: all 0.3s ease 0s;
}

.nav.active .header__burger-icon::before,
.nav.active .header__burger-icon::after {
  background-color: #202020;
}

.header__burger-icon::before {
  top: 0;
}

.header__burger-icon::after {
  bottom: 0;
}

.header__burger-icon.active span {
  transform: translateX(100%) scale(0);
}

.header__burger-icon.open::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
  background-color: #202020;
}

.header__burger-icon.open::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
  background-color: #202020;
}

.header__burger-menu {
  visibility: hidden; 
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  right: 0;
  left: -100%;
  top: 0;
  background-color: rgba(245, 245, 245, 0.90);
  transition: left 0.2s ease-in-out; 
}

.header__logotype-burger {
  display: flex;
}
.logo__image-black-burger {
  margin: 20px 30px 0 30px;
}
.logo-title-burger {
  color: #202020;
  font-family: 'KyivTypeTitling';
  font-weight: 500;
  font-size: 20px;
  margin-top: 15px;
}

/* #endregion */
/* #endregion */
/* #endregion */
/* #region schedule */
.schedule-body {
  margin-top: 102px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-image: url('./images/schedule-background-2.svg');
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: 40px;
}

.schedule__title {
  color: #fff;
  font-family: 'KyivTypeTitling';
  font-size: 65px;
  font-weight: 840;
  margin: 104px 0 0 100px;
}

.schedule__backspase {
  width: 3px;
  height: 371px;
  background-color: #fff;
  margin-top: 33px;
}

.schedule__list {
  padding: 0;
  margin: -20px 40px 0 0;
}

.schedule__list--wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 50px 30px 0;
}

.schedule__list--wrapper::after {
  content: '';
  position: absolute;
  bottom: -8px;
  display: block;
  width: block;
  height: 1px;
  max-width: 100%;
  background-color: #fff;
}

.schedule__item {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  list-style: none;
}

.schedule__item--name {
  margin-right: 70px;
  text-transform: uppercase;
}

.schedule__list--sunday {
  margin-top: 55px;
}

.schedule__small-text {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}
/* #region media queries shedule */
@media (max-width: 1200px) {
  
}
@media (max-width: 1075px) {
  .schedule-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .schedule-body {
    width: 930px;
    height: 350px;
    margin: 102px 0 0 0;
  }

  .schedule__list {
    padding: 0;
    margin: 45px 60px 0 0;
  }

  .schedule__title {
    font-size: 45px;
    font-weight: 840;
    margin: 90px 0 0 90px;
  }

  .schedule__backspase {
    width: 3px;
    height: 200px;
    margin-top: 70px;
  }

  .schedule__list--wrapper {
    margin: 20px 50px 0 0;
  }

  .schedule__item--name {
    font-size: 26px;
    margin-right: 40px;
  }

  .schedule__item--time {
    font-size: 26px;
  }

  .schedule__small-text {
    font-size: 13px;
  }
}
@media (max-width: 980px) {
  .schedule-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .schedule-body {
    width: 730px;
    height: 271px;
    margin: 102px 0 0 0;
  }

  .schedule__list {
    padding: 0;
    margin-top: 20px;
  }

  .schedule__title {
    font-size: 40px;
    font-weight: 840;
    margin: 60px 0 0 50px;
  }

  .schedule__backspase {
    width: 3px;
    height: 187px;
    margin-top: 40px;
  }

  .schedule__list--wrapper {
    margin: 15px 50px 0 0;
  }

  .schedule__item--name {
    font-size: 25px;
    margin-right: 40px;
  }

  .schedule__item--time {
    font-size: 25px;
  }

  .schedule__small-text {
    font-size: 12px;
  }
}
@media (max-width: 834px) {
  
}
@media (max-width: 834px) {
  
}
/* #endregion */
/* #endregion */
/* #region  stream */
.stream {
  background-color: rgba(153, 153, 153, 0.1);
  margin-top: 102px;
}

.stream-body {
  display: flex;
  box-sizing: border-box;
}

.stream__title--wrapper {
  margin-bottom: 133px;
}

.strim__title {
  color: #202020;
  font-family: 'KyivTypeTitling';
  font-size: 75px;
  font-weight: 840;
  padding-top: 93px;
  margin-bottom: 25px;
}

.stream__email {
  color: #202020;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 54px;
}

.stream__button {
  display: flex;
  width: 398px;
  height: 80px;
  border-radius: 20px;
  border: 2px solid #202020;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #202020;
  font-size: 35px;
  font-weight: 600;
}

.stream__button:hover {
  background-color: #202020;
  color: #fff;
}

.stream__player {
  border-radius: 30px;
  margin: 93px 0 0 40px;
}

/* #endregion */
/* #region about-us */
.about-us {
  margin-top: 77px;
}

.about-us-container {
  display: flex;
  position: relative;
}

.slider__image {
  width: 653px;
  height: 592px;
  object-fit: cover;
  border-radius: 35px;
  opacity: 0;
  position: absolute;
  top: 13px;
  transition: opacity 0.5s ease-in-out;
}

.slider__image.active {
  width: 653px;
  height: 592px;
  display: block;
  opacity: 1;
  border-radius: 35px;
}

.slider__dotts {
  display: flex;
  margin: 621px 0 0 285px;
}

.slider__dott {
  width: 15px;
  height: 15px;
  background-image: url('./images/dott.svg');
  padding-inline: 5px;
  background-repeat: no-repeat;
  transition: background-color 0.5s ease-in-out;
}

.slider__dott.active {
  background-image: url('./images/dott-active.svg');
  background-repeat: no-repeat;
}

.about-us__info {
  width: 600px;
  margin: 0 0 0 360px;
}

.about-us__title {
  color: #202020;
  font-family: 'KyivTypeTitling';
  font-size: 55px;
  font-weight: 840;
}

.about-us__text {
  font-weight: 400;
  font-size: 20px;
  color: #202020;
}

/* #endregion */
/* #region services */
.services {
  position: relative;
  background-color: rgba(153, 153, 153, 0.1);
  margin-top: 30px;
  padding-bottom: 179px;
}

.services.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);

  position: absolute; 
  top: 0;
  left: 0;
  z-index: 2;
}

.services-title {
  font-family: 'KyivTypeTitling';
  font-size: 60px;
  font-weight: 840;
  color: #202020;
  padding-top: 98px;
}

.services-list {
  position: relative;
  display: flex;
  margin-top: 93px;
}

.service-modal {
  position: fixed;
  bottom: -100%; 
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 85%;
  z-index: 2;
  background-color: #fff;
  border-radius: 50px;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none; 
  transition: opacity 0.3s ease, bottom 0.3s ease; 
}

.service-modal.active {
  bottom: 15px; 
  opacity: 1;
  pointer-events: auto;
  z-index: 3;
}

body.body-modal-open {
  overflow: hidden;
}

.modal-content {
  position: relative;
  display: flex;
}

.modalText {
  display: flex;
  flex-direction: column;
  margin: 90px 60px 0 60px;
  font-size: 20px;
  font-weight: 400;
}

#modalImage {
  max-width: 50%;
  max-height: 100%;
  object-fit: cover;
}

#modalMainTitle {
  font-size: 35px;
  font-weight: 600;
  color: #202020;
}

#modalMainText {
  font-size: 20px;
  font-weight: 400;
  color: #202020;
  margin-top: 10px;
}

#modalMainText::after {
  content: '';
  display: block;
  margin-top: 10px;
  width: 100%;
  height: 2px;
  background-color: #202020;
  margin-top: 21px;
}

#modalTitle {
  margin-top: 70px;
}

#modalText {
  margin-top: 35px;
}

#modalText2,
#modalText4,
#modalText5,
#modalText6 {
  margin-top: 20px;
}

#modalText7 {
  margin: 40px 0 30px 0;
}

#modalText3 {
  margin: 20px 0 5px 0;
}

.modal-close-btn {
  background-image: url(./images/close-button-dark.svg);
  background-repeat: no-repeat;
  box-sizing: border-box;
  object-fit: cover;
  cursor: pointer;
  position: absolute;
  width: 70px;
  height: 70px;
  left: 1000px;
  margin: 30px 30px 0 0;
  padding: 0 30px 0 0;
}

.services-list.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-list--2,
.services-list--3 {
  margin-top: 40px;
}

.service-item {
  width: 30%;
  height: 491px;
  background-size: cover;
  background-position: 100%;
  border-radius: 35px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  margin-inline: 20px;
}

.service-item--1 {
  background-image: url('./images/services/children-service.png');
}
.service-item--2 {
  background-image: url('./images/services/teenegers-service.png');
}
.service-item--3 {
  background-image: url('./images/services/young-service.png');
}
.service-item--4 {
  background-image: url('./images/services/family-service.png');
}
.service-item--5 {
  background-image: url('./images/services/worship-service.png');
}
.service-item--6 {
  background-image: url('./images/services/prayer-service.png');
}
.service-item--7 {
  background-image: url('./images/services/people-service.png');
}
.service-item--8 {
  background-image: url('./images/services/clothes-service.png');
}
.service-item--9 {
  background-image: url('./images/services/media-service.png');
}

.service-item__info {
  width: 100%;
  margin-top: 250px;
  color: #fff;
}

.service-item__top {
  display: flex;
  position: relative;
}

.service-item__title {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  padding: 0 10px;
}

.service-item__title--2 {
  margin: -110px 0 0 0;
}

.service-item__title--3,
.service-item__title--6,
.service-item__title--9 {
  margin: -95px 0 0 0;
}

.service-item__title--7 {
  margin: -115px 0 0 0;
}

.service-item__title--8 {
  margin: -55px 0 0 0;
}

.service-item__description {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin: 16px 0 39px 0;
  padding: 0 10px;
}

.service-item__description--2 {
  margin: -50px 0 0 0;
}

.service-item__description--3,
.service-item__description--6 {
  margin: -35px 0 0 0;
}

.service-item__description--8,
.service-item__description--9 {
  margin: 15px 0 0 0;
}

.service-item__description--7 {
  margin: -15px 0 0 0;
}


.service-item__link--2 {
  margin-top: 30px;
}

.service-item__link--9 {
  margin-top: 40px;
}

.service-item__link--3,
.service-item__link--6,
.service-item__link--8 {
  margin-top: 60px;
}

.service-item__link--7 {
  margin-top: 50px;
}

.service-item__description.active::after {
  content: '';
  display: block;
  margin-top: 10px;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.service-item__link {
  display: inline-block;
  position: relative;
  color: #fff;
  text-decoration: none;
  padding: 0 10px;
}

.service-item__link.close {
  display: none;
}

.service-item__link::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -2px;
  left: 10px;
  width: 88%;
  height: 2px;
  background-color: #fff;
}

.service-item.open .service-item__info {
  box-sizing: border-box;
  transform: translateY(-143);
}

.service-item__additional-text {
  display: none;
  color: #fff;
  font-size: 18px;
}

.service-item__additional-text.active {
  display: block;
  padding-top: 50px;
}

/* #endregion */
/* #region donate */

/* #region first-part */
.donate {
  margin-top: 98px;
}

.donate-container {
  max-height: 580px;
  border-radius: 50px;
  border: 13px solid #202020;
  box-shadow: 6px 4px 16px 0px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  transition: max-height 0.3s ease-in-out;
}

.donate-container.active {
  max-height: 980px;
}

.donate-wrapper {
  display: flex;
}

.donate__text-wrapper {
  margin-left: 47px;
}


.donate__first-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.donate__title {
  font-family: 'KyivTypeTitling';
  font-size: 60px;
  font-weight: 840;
  color: #202020;
  margin: 70px 25px 20px 0;
}

.donate__description {
  max-width: 90%;
  font-size: 22px;
  font-weight: 400;
  color: #202020;
  margin: 10px 0 0 0;
}

.donate__buttons {
  display: flex;
  margin: 32px 90px 10px 0;
}

.donate__paypal,
.donate__moneygram,
.donate__western-union {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  border: 2px solid #202020;
  cursor: pointer;
}

.donate__paypal.active,
.donate__moneygram.active,
.donate__western-union.active {
  background-color: #202020;
}

.donate__paypal-img {
  margin-top: 17px;
}

.donate__paypal-link,
.donate__moneygram-link,
.donate__western-union-link {
  width: 116px;
  height: 54px;
  text-decoration: none;
  color: #202020;
  text-align: center;
}

.donate__paypal-img,
.donate__moneygram-img,
.donate__western-union-img {
  margin-top: 5px;
}

.donate__moneygram,
.donate__western-union {
  margin-left: 26px;
}

.donate__button-text {
  font-size: 13px;
  font-weight: 600;
  color: #202020;
  margin: 0 0 5px 0;
}

.donate__requisites {
  display: flex;
  margin: 25px 90px 90px 0;
}

.donate__requisite {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 116px;
  height: 74px;
  font-size: 35px;
  font-weight: 600;
  border-radius: 14px;
  border: 2px solid #202020;
  cursor: pointer;
  color: #202020;
  text-decoration: none;
}

.donate__requisite.active {
  background-color: #202020;
  color: #fff;
}

.donate__requisites-usd {
  margin-left: 25px;
}

.donate__requisites-eur {
  margin-left: 25px;
}

.modal__requisites-border {
  width: 670px;
  height: 1px;
  background-color:  #E0E0E0;
  margin-bottom: 33px;
}

.requisites-modal {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s;
}

.requisites-modal.active {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 57px;
  opacity: 1;
  visibility: visible;
}

.modal__requisites-title,
.modal__requisites-title2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.modal__requisites-name {
  font-size: 20px;
  font-weight: 500;
}

.modal__requisites-email,
.modal__requisites-number,
.modal__requisites-organization,
.modal__requisites-edrpu,
.modal__requisites-bank,
.modal__requisites-iban,
.modal__requisites-disclaimer {
  font-size: 20px;
  font-weight: 400;
}

.modal__requisites-edrpu,
.modal__requisites-iban {
  margin-bottom: 20px;
}

/* #endregion */
.donate__border {
  width: 525px;
  height: 10px;
  background: #202020;
  margin: 55px 30px 0 15px;
  display: none;
}
/* #region second-part */
.donate__second-part {
  width: 513px;
  height: 406px;
  border-radius: 50px;
  background: #F5F5F5;
  box-shadow: 3px 7px 19px 0px rgba(0, 0, 0, 0.25);
  margin: 92px 25px 0 0;
}

.donate__field-body {
  width: 513px;
}

.donate__form {
  margin: 80px  0 0 45px;
}

.donate__currency-dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.donate__currency-choosed {
  font-size: 50px;
  font-style: italic;
  font-weight: 600;
  transition: transform 0.3s ease;
}

.donate__currency-choose {
  display: flex;
  position: absolute;
  margin: 26px 0 0 20px;
}

.donate__currency-list {
  display: block; 
  max-height: 0; 
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: -8px;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #F5F5F5;
  transform-origin: top; 
  opacity: 0; 
  pointer-events: none;
  transition: max-height 0.3s ease, opacity 0.2s ease;
}

.donate__currency-item {
  padding: 5px 10px;
  cursor: pointer;
  font-size: 50px;
  font-style: italic;
  font-weight: 600;
}

.donate__currency-dropdown.active .donate__currency-list {
  display: block;
  max-height: 300px;
  opacity: 1; 
  pointer-events: auto;
  margin: 10px 0 0 0;
  border-radius: 10px;
}

.donate__currency-arrow {
  margin: -40px 0 0 60px;
  cursor: pointer;
}

.donate__field {
  width: 59%;
  max-height: 90px;
  font-size: 80px;
  font-weight: 800;
  font-style: italic;
  outline: none;
  border: none;
  background: #F5F5F5;
  padding: 12px 0 0 130px;
  overflow: hidden;
  margin: 0;
}

.donate__field-border {
  border: 0.5px solid #000;
  width: 85%;
  margin-left: 15px;
}

.donate__fix-buttons {
  display: flex;
  margin: 36px 0 0 78px;
}

.donate__fix-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid #202020;
  font-size: 35px;
  font-weight: 300;
  cursor: pointer;
}

.donate__fix-button-500 {
  margin-left: 26px;
}

.donate__fix-button-1000 {
  margin-left: 26px;
}

.donate__pay-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 377px;
  height: 76px;
  border: 2px solid;
  border-radius: 20px;
  background: #202020;
  margin: 30px 15px 0 70px;
  color: #fff;
  text-decoration: none; 
}

.donate__pay-button:hover {
  background: #303030; 
}

.donate__pay-link {
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  text-decoration: none; 
}
/* #endregion */
/* #endregion */
/* #region contacts */
.contacts {
  background-color: rgba(153, 153, 153, 0.1);
  margin: 87px 0 0 0;
}

.contacts-body {
  display: flex;
  padding: 87px 0 0 0;
}

/* #region contacts-text */
.contacts__title {
  color: #202020;
  font-family: 'KyivTypeTitling';
  font-size: 65px;
  font-weight: 840;
}

.contacts__description {
  color: #202020;
  font-size: 25px;
  font-weight: 400;
  margin: 31px 0 0 0;
}

.contacts-adress {
  margin: 31px 0 0 0; 
}

.contacts__adress-title {
  color: #202020;
  font-size: 25px;
  font-weight: 600;
}

.contacts__adress-text {
  color: #202020;
  font-size: 25px;
  font-weight: 400;
}

.contacts-socials {
  display: flex;
  margin: 31px 0 0 0; 
}

.contacts__inst-pages {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 17px;
}

.contacts__inst-page {
  position: relative;
  text-decoration: none;
  color: #202020;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 15px;
}

.contacts__inst-page::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: #202020;
}
/* #endregion */
/* #region contacts-map */
.contacts-map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 88px;
  padding-bottom: 88px;
}

.contacts-map__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 656px;
  height: 67px;
  border-radius: 20px;
  border: 2px solid #202020;
  color: #202020;
  font-size: 35px;
  font-weight: 600;
  text-decoration: none; 
  margin-top: 67px;
}

.contacts-map__link:hover {
  background: #303030; 
  color: #fff;
}
/* #endregion */
/* #endregion */
/* #region footer */
.footer {
  margin: 50px 0 50px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.footer-year {
  margin-top: 3px;
}
/* #endregion */

/* #region media-queries */
@media (max-width: 1200px) {
  .header__container {
    padding: 0;
    margin: 0;
  }
  .nav__item {
    padding-inline: 10px;
  }
}
@media (max-width: 1075px) {
  .nav__item {
    padding-inline: 6px;
  }
  .logotype {
    width: 150px;
  }
  .logo-title {
    margin: 15px 50px 0 0;
  }
}
@media (max-width: 980px) {
/* #region header-tablet */
.header__container {
  width: 90%;
}

.header__container.active {
  margin: 0;
}

.nav {
  margin: 30px 0 0 0;
}

.nav.active.scroll {
  height: 100%;
  transform: translateY(5%);
  top: -76px;
}

.nav.open {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #202020;
  left: 0; top: 0; bottom: 0; right: 0;
  overflow: hidden;
}

.languages-list {
  display: none;
}

.header__burger {
  display: inherit;
  position: relative;
  margin: 80px 0 0 0;
  z-index: 5;
}

.header__burger.active {
  margin-top: -310px;
}


.nav__link.active {
  display: none;
}

.nav__list {
  display: none;
}

.nav__list.active {
  display: flex;
  flex-direction: column;
  }

.nav__list-burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-bottom: 0;
}

.nav__item-burger {
  list-style: none;
  margin: 0 0 20px 0;
}

.languages-list-burger {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.language-link-burger {
  color: #202020;
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
}

.language-link-burger:active {
  font-weight: 700;
}

.nav__item-border {
  height: 1px;
  width: 80%;
  background-color: #202020;
  margin-bottom: 19px;
}

.nav__link-burger {
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
  color: #202020;
}

.nav__link-burger:active {
  font-weight: 700;
}

.logotype {
  display: flex;
  flex-direction: row;
  margin: 15px 0 0 125px;
}

.nav.active .logotype {
  margin: 15px 500px 0 20px;
}

.logo-title {
  text-align: left;
}

.logo-title.active {
  display: inherit;
  color: #202020;
  font-size: 15px;
}

.logo__link {
  margin-right: 20px;
}

.logo-title-burger {
  white-space: nowrap;
  margin: 65px 0 0 20px;
}

.logo__image-black-burger{
  height: 75%;
  width: 75%;
}

.logo__image-black {
  width: 34px;
  height: 60px;
}

.logo__image-black.active {
  display: initial;
  margin: -20px 20px 0 0;
  width: 34px;
  height: 60px;
}

.header__burger-menu.open {
  display: flex;
  flex-direction: column;
  left: 0;
  visibility: visible; 
  opacity: 1;
  overflow: hidden;
}

.header__logotype-burger {
  display: flex;
  margin: 20px 0 0 65px;
}

.logo-burger-wrapper {
  border: 1px solid #202020;
}

/* #endregion */
/* #region stream */
.stream-container {
  padding: 0 48px;
}

.strim__title {
  padding: 45px 0 0 0;
  font-size: 40px;
}

.stream__email {
  font-size: 14px;
}

.stream__button {
  width: 193px;
  height: 39px;
}

.stream__link {
  font-size: 20px;
}

#player {
  width: 424px;
  height: 283px;
  margin-top: 60px;
}
/* #endregion */
/* #region about-us */
.about-us-container {
  padding: 0 47px;
}

.about-us__title {
  font-size: 40px;
}

.about-us__text {
  font-size: 14px;
}

.about-us__info {
  margin: 0 0 0 160px;
}

.slider__image {
  width: 355px;
  height: 393px;
}

.slider__image.active {
  width: 355px;
  height: 393px;
}

.slider__dotts {
  margin: 425px 0 0 150px;
}
/* #endregion */
/* #region services */
.services-container {
  padding: 0 20px;
}

.services-title {
  font-size: 40px;
  margin: 0 0 0 25px;
}

.services-list {
  margin-top: 56px;
}

.service-item {
  height: 370px;
}

.service-item__title {
  font-size: 25px;
  margin-top: -65px;
}

.service-item__description {
  font-size: 14px;
  margin: -15px 0 0 0;
}

.service-item__link {
  font-size: 10px;
  margin-top: 35px;
}

.service-item__info {
  margin-top: 260px;
}

.service-item__title--2 {
  margin: -150px 0 0 0;
}

.service-item__title--4 {
  margin-top: -90px
}

.service-item__title--3 {
  margin: -135px 0 0 0;
}

.service-item__title--6 {
  margin: -155px 0 0 0;
}

.service-item__title--7 {
  margin: -135px 0 0 0;
}

.service-item__title--8 {
  margin: -110px 0 0 0;
}

.service-item__title--9 {
  margin: -95px 0 0 0;
}

.service-item__description--2 {
  margin: -100px 0 0 0;
}

.service-item__description--4 {
margin-top: -45px;
}

.service-item__description--3 {
  margin: -85px 0 0 0;
}

.service-item__description--6 {
  margin-top: -100px;
}

.service-item__description--8{
  margin: -25px 0 0 0;
}

.service-item__description--7 {
  margin: -55px 0 0 0;
}

.service-item__description--9 {
  margin-top: -40px;
}

.service-item__link--1 {
  margin-top: -10px;
}

.service-item__link--2 {
  margin-top: 30px;
}

.service-item__link--9 {
  margin-top: 20px;
}

.service-item__link--3 {
  margin-top: 30px;
}

.service-item__link--4  {
  margin-top: 50px;
}

.service-item__link--8 {
  margin-top: 40px;
}

.service-item__link--6 {
  margin-top: 50px;
}

.service-item__link--7 {
  margin-top: 25px;
}

.service-modal.active {
  box-sizing: border-box;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
}

.modalText {
  display: flex;
  flex-direction: column;
  margin: 90px 60px 0 60px;
  font-size: 20px;
  font-weight: 400;
}

#modalImage {
  max-width: 100%;
  max-height: 30%;
  object-fit: cover;
}

#modalMainTitle {
  font-size: 35px;
  font-weight: 600;
  color: #202020;
}

#modalMainText {
  font-size: 20px;
  font-weight: 400;
  color: #202020;
  margin-top: 10px;
}

#modalMainText::after {
  content: '';
  display: block;
  margin-top: 10px;
  width: 100%;
  height: 2px;
  background-color: #202020;
  margin-top: 21px;
}

#modalTitle {
  margin-top: 70px;
}

#modalText {
  margin-top: 35px;
}

#modalText2,
#modalText4,
#modalText5,
#modalText6 {
  margin-top: 20px;
}

#modalText7 {
  margin: 40px 0 30px 0;
}

#modalText3 {
  margin: 20px 0 5px 0;
}

.modal-close-btn {
  background-image: url(./images/close-button.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  margin: 30px 0 0 0;
  left: 530px;
  padding: 0 30px 0 0;
}

  /* #endregion */
  /* #region donats */
  .donate {
    position: relative;
  }

  .donate-container {
    max-height: 1150px;
    margin: 0 40px;
  }

  .donate-container.active {
    max-height: none;
  }

  .donate-wrapper {
    flex-direction: column;
  }

  .donate__first-part {
    padding: 0 10px;
    box-sizing: border-box;
  }

  .donate__title {
    font-size: 40px;
    font-weight: 840;
    padding: 10px 330px 20px 0;
  }

  .donate__description {
    font-size: 18px;
    font-weight: 400;
  }

  .donate__buttons,
  .donate__requisites {
    margin: 25px 0 40px 0;
  }

  .donate__border {
    display: flex;
    max-width: 511px;
    height: 1px;
    margin: 0 0 40px 95px;
  }

  .donate__second-part {
    width: 90%;
    height: 490px;
    margin: 0 0 75px 40px;
  }

  .donate__field-body {
    margin: 0 0 0 110px;
  }

  .donate__field-border {
    width: 100%;
    margin-left: -75px;
  }

  .donate__currency-choose {
    margin: 26px 0 0 -70px;
  }

  .donate__field {
    width: 60%;
    padding: 12px 0 0 70px;
  }

  .donate__fix-buttons {
    margin: 36px 0 0 -20px;
  }

  .donate__fix-button {
    width: 130px;
    height: 55px;
    font-size: 23px;
    font-weight: 300;
  }

  .donate__pay-button {
    height: 100px;
    margin: 60px 15px 0 10px;
  }

  .requisites-modal {
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 57px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    transition: opacity 0.3s;
  }

  .requisites-modal.active {
    display: flex;
    opacity: 1;
    visibility: visible;

  }
  /* #endregion */
  /* #region contacts */
  .contacts-container {
    padding: 0 47px;
  }

  .contacts-body {
    
  }

  .contacts__title {
    font-size: 40px;
  }

  .contacts__description,
  .contacts__adress-text {
    font-size: 14px;
  }

  .contacts__adress-title {
    font-size: 20px;
  }

  .contacts__inst-page {
    font-size: 14px;
  }

  .contacts-map__image {
    max-width: 305px;
    max-height: 373px;
    /* border: 1px solid black; */
    border-radius: 30px;
    margin: -20px 0 150px 0;
  }

  .contacts-map__church {
    max-width: 305px;
    height: 110%;
    object-fit: cover;
    border-radius: 30px;
  }

  .contacts-map__link {
    width: 305px;
    height: 36px;
    font-size: 14px;
    margin: -110px 0 0 0;
  }

  /* #endregion */
  /* #region footer */
  .footer-city,
  .footer-year {
    font-size: 14px;
  }
  /* #endregion */
}
@media (max-width: 767px) {

}
/* #endregion */

